.performcard {
    background-color: #fff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 78px;
    width: 380px;
    height: 340px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.herostly {
    position: relative;
    z-index: 10;
    max-width: 1280px;
    width: 100%;
    padding: 4rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.servicehome {
    max-width: 1280px;
    /* margin: 0 auto; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 5rem;
    align-items: center;
}

.somechange {
    position: relative;
    background: linear-gradient(to right, #f9fafb, #ffffff, #f9fafb);
    padding: 4rem 5rem;
    overflow: hidden;
}

.stylesome {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 5rem;
}

@media (max-width: 1024px) {
    .servicehome {
        grid-template-columns: 1fr 1fr;
    }

    .performcard {
        height: 352px;
        width: 353px;
        position: relative;
        left: -139px;
        top: -1pc;
    }
}

@media (max-width: 600px) {
    .servicehome {
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 20px 3%;
    }

    .stylesome {
        margin: 0 auto;
        padding: 20px 5%;
    }

    .somechange {
        position: relative;
        background: linear-gradient(to right, #f9fafb, #ffffff, #f9fafb);
        padding: 20px 5%;
        overflow: hidden;
    }
    .herostly {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 20px 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

}